.section {
	padding-top: 10px;
	padding-bottom:10px;
}
.canadian_section {
	padding-top: 10px;
	padding-bottom:10px;
}

.form-select {
  width: 100%;
}

#programs >:first-child{
	margin-bottom: 0;
}

.section >:first-child{
	margin-bottom: 0px;
}


.form-item-apib {
	margin-bottom: 0.7rem !important;
}

.form-item-province {
	margin-bottom: 0 !important;
}

.field-name-field-uw-ft-adm-lowbody {
	display: inline !important;
	margin-top: 0.7rem;
}
