.min_grade {
	font-size: 11px;
}

.label {
	font-size: 13px;
	font-weight: bold;
	line-height: 16px;
	color: #555;
	padding-bottom:5px;
}

.section {
	margin-top:15px;
}

#content {
    width: 100% !important;
}